on:
  workflow_call:
    inputs:
      os:
        type: string
        default: "ubuntu-20.04"
    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  coverage:
    name: Coverage
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools
      - name: Install coverage tools
        run: |
          cargo install cargo-llvm-cov
      - name: Build and test with coverage
        run: cargo llvm-cov --include-build-script --doctests --all-features --workspace --codecov --output-path codecov.json
      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          files: codecov.json
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
